/*按钮距顶部距离*/
.content-block.option-buttons{
    margin-top: 10px;

}
.content-block.option-buttons img{
    width: 2.8rem;
}

/*top-alert*/
.top-alert{
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid #D9D9D9;
    height: 14px;
    font-size: 14px;
    line-height: 14px;
    color: #999999;
}

.top-alert .pull-left{
    padding-left: 10px;
}
.top-alert .pull-right{
    padding-right: 20px;
}

.top.menu .m_nav span{
    color: #666666;
}

.content-container{
    padding-top: 20px;
}