body{
    font-family: PingFangSC-Regular;
    font-size: 14px;
    background-color: #efeff4;
}

.list-block ul:before,.list-block ul:after,.list-block .item-inner:after{
    background-color: #E6E6E6;
}
.list-block .item-content{
    padding-left: 10px;
}
/*隐藏*/
.hide{
    display: none !important;   /*隐藏内容*/
    visibility: hidden !important;  /*隐藏可视性*/
}
/*列表的margin-top:35px 取消*/
.margin-none{
    margin: 0px 0px;
}
.padding-none{
    padding: 0px 0px;
}
.margin-15{
    margin: 15px 0px;
}
.padding-15{
    padding: 15px 15px;
}
div[class*="col-"] {
    text-align: center;
    color: #000;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.icon-15x {
    font-size: 1.5em;
}
.icon-40x {
    font-size: 4em;
}
.icon-50x {
    font-size: 5em;
}
.icon-100x{
    font-size: 10em;
}

/*导航条*/
.navbar{
    /*background-color: #1dc400;*/
    background-color: #FD7C21;
}
/*导航条*/
.navbar .left{
    color: #fff;
}
.navbar .left *{
    color: #fff;
}
.navbar .left a{
    padding-right: 50px;
}
.navbar .center{
    font-weight: 100;
    color: #fff;
    opacity : inherit;
}
.navbar .right{
    color: #fff;
}
.navbar .right a{
    padding-left: 50px;
}
.navbar .right *{
    color: #fff;
}

.badge.square{
    border-radius: 3px;
    padding: 1px 3px;
}

/*幻灯片*/
/*顶部幻灯片*/
.swiper-container {
    height: 90px;
}
.swiper-slide {
    background:#ffffff;
}
.swiper-slide span {
    text-align:center;
    display:block;
    font-size:21px;
    line-height: 80px;
}
#index{
    padding-bottom: 60px;
}

.tabbar.theme-orange a.active, .tabbar.theme-orange a.active i, .theme-orange .tabbar a.active, .theme-orange .tabbar a.active i{
    color: #FD7C21;
}
.button.button-fill.color-orange, .theme-orange .button.button-fill{
    background: #FD7C21;
}
.swiper-pagination.color-orange .swiper-pagination-bullet-active, .theme-orange .swiper-pagination .swiper-pagination-bullet-active{
    background-color: #FD7C21;
}

.theme-orange .item-link.list-button, .theme-orange a{
    color: #FD7C21;
}

.theme-orange label.label-checkbox input[type=checkbox]:checked+.item-media i.icon-form-checkbox, .theme-orange label.label-checkbox input[type=radio]:checked+.item-media i.icon-form-checkbox{
    color: #FD7C21;
    background-color: #FD7C21;
}















