#coupon-list .top-fix-tabber{
    box-shadow: 0px 1px 0px 0px rgba(198,198,198,0.50);
}

#coupon-list .coupon-list {
    margin: 0px 10px;
}
#coupon-list .coupon-list ul{
    margin-top: 15px;
    padding-top: 5px;
    border-image-source: url(coupon-border.png);
    border-image-slice:0 10 0 10;

    border-image-repeat : repeat repeat;
    border-width: 5px;
}

#coupon-list .coupon-list a .item-title{
    color: #333333;
}
#coupon-list .coupon-list a .item-subtitle{
    color: #999999;
    font-size: 14px;
}
#coupon-list .coupon-list a .waiting{
    font-size: 12px;
    color: #FD7C21;
}

#coupon-list .coupon-list a .failed{
    font-size: 12px;
    color: #9B9B9B;
}

