.top-tip{
    position: fixed;
    width: 100%;
    z-index: 100;
    line-height: 30px;
    padding-left: 8px;
    background: #FFF8C1;
}
.main-container{
    padding-top: 30px;
}
.main-container .nav{
    height: 45px;
    background: #ebedf0;
    line-height: 45px;
    border-top: 1px solid #D9D9D9;
}
.main-container .nav{

}
.main-container .nav .table-button{
    border-right: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
    width: 33.3333333333332%;
    margin-left: 0px;
}
.main-container .nav .table-button.active{
    background: #ffffff;
    padding-top: 5px;
    border-bottom: 3px solid #FD7C21;
    line-height: 32px;
    color: #FD7C21;
}
.main-container .nav .table-button em{
    position: absolute;
    font-style: normal;
    width: 20px;
    height: 20px;
    background: #FD7C21;
    border-radius: 20px;
    font-size: 10px;
    font-weight: 100;
    text-align: center;
    line-height: 20px;
    color: #ffffff;
}
.registration-list{
    width: 100%;
}
/*等位*/
.registration-list li{
    height: 80px;
}
.registration-list li .item-after{
    max-height: none;
}
.registration-list li .item-title .number{
    font-size: 30px;
    color: #FD7C21;
    padding-top: 10px;
    line-height: 50px;
}
.registration-list li .item-title .waiting-time{
    font-size: 14px;
    color: #999999;
    padding-left: 10px;
    vertical-align: middle;
}
.registration-list li .item-after.option .confirm{
}
.registration-list li .item-after.option i{
    margin-left: 20px;
    font-size: 35px;
    line-height: 35px;
    color: #ffffff;
    border-radius: 100%;
}
.registration-list li .item-after.option .title{
    margin-left: 26px;
    font-size: 12px;
    padding-top: 2px;
}
.registration-list li .item-after.option .confirm i{
    background: #FD7C21;
}
.registration-list li .item-after.option .pass i{
    background: #5BABF6;
}
/*5BABF6*/