.container{
	margin-top: 10px;	
}
.coupon{
	width: 100%;
	height: 80px;
	border: 2px solid #EEF0F2;/*#EEF0F2*/
	border-bottom: 1px dashed #D4D4D4;
	border-radius:0 0 10px 10px;
}
.coupon-detail-time{
	width: 100%;
	height: 130px;
	margin-top: -2px;
	border: 2px solid #EEF0F2;/*#EEF0F2*/
	border-top: none;
	border-radius:10px 10px 0 0;
	font-size: 20px;
	color: #fff;
	padding-left: 10px;
	padding-top: 30px;
}
.coupon img{
	width: 60px;
	height: 60px;
	margin: 9px 0 9px 10px;
	padding-bottom: 2px;
}
.coupon .middle > h2{
	width: 100%;
	color: #fff;
	font-size: 16px;
	padding-top: 10px;
	height: 50px;
	text-overflow:ellipsis; white-space:nowrap; overflow:hidden;
}
.coupon .right{
	height: 76px;
	padding-right: 5px;
	padding-top: 18px;
	font-size: 14px;
	color: #FFF;
}

.coupon-detail-text-detail{


	border: 1px solid #D4D4D4;
	border-top: none;
	margin: -2px 2px 0px 2px;
	height: 70px;
}
.coupon-detail-text-detail > div{
	padding: 10px;
}
.coupon-detail-qrcode > img{
	margin-top: 20px;
	height: 70px;
	padding: 5px;
	width: 200px;
	height: 200px;
}
p.scan-qrcode{
	font-size: 12px;
	margin-top: 20px;
	color: #C7C7C7;
}

.coupon-scan-success{
	color: #4cae4c;
}

.coupon-detail-code .barcode{
	margin-top: 20px;
}
.coupon-detail-code .barcode > li{
	background-color: none;
}





