body{
    background-color: #b2d1b7;
}
.score-content{
    padding-top: 30px;
}
.score-result{
    padding-top: 15px;
}
.button-detail,.button-group-order-by{
    padding-top: 15px;
}
.ad{
    padding-top: 30px;
}